<div id='user-profile'>
  <div id='user-name'>
    <%= user.username %>
  </div>
  <div id='user-stats'>
    <div id='authored-count'>
    <%= 0 %> Methods Authored
  </div>
  <div id='taken-count'>
    <%= 0 %> Methods in Module
  </div>
  </div>
</div>